* {
  font-family: "Montserrat";
  font-size: 0.9rem;
  line-height: 1rem;
  margin: 0;
  padding: 0;
  border: none;
  transition: display 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
span.title {
  display: block;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 0.5rem 0;
  font-weight: 700;
}

:root {
  /* COLORS */
  --lightest: #fffffff;
  --black: #333333;
  --light: #f1f1f1;
  --gray: #cccccc;
  --dark: #233142;
  --blue: #455d7a;
  --red: #f95959;

  /* BORDER-RADIUS */
  --radius: 10px;
}

.app {
  background-color: var(--light);
  height: 100vh;
  width: 100vw;
  display: flex;
}

.app .btn {
  display: inline-flex;
  margin: 1rem;
  padding: 1rem;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--gray);
}

.app .btn.dark {
  background: var(--dark);
  color: white;
  border: solid 1px var(--black);
}

.app .btn.light {
  background: var(--dark);
  color: white;
  border: solid 1px var(--gray);
}

.app .app-container {
  display: grid;
  grid-template-areas:
    "header"
    "navigation"
    "body"
    "footer";
  gap: 1rem;
  min-width: 300px;
  max-width: 1200px;
  width: calc(100vw - 8rem);
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
  background: white;
  border: solid 1px var(--gray);
  box-shadow: 0px 0px 15px var(--gray);
}

.app .app-container .app-header {
  display: grid;
  grid-template-areas: "info id page";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  text-align: center;
  width: 100%;
  background: var(--dark);
  color: white;
  border-radius: 10px;
  padding: 1rem 0;
}

.app .app-container .app-header .info {
  grid-area: info;
}

.app .app-container .app-header .id {
  grid-area: id;
}

.app .app-container .app-header .page {
  grid-area: page;
}

.app .app-container .app-header .show-more {
  display: none;
}

.app .app-container .app-header .info,
.app .app-container .app-header .id,
.app .app-container .app-header .page {
  padding: 0 1rem;
}

.app .app-container .app-navigation {
  display: flex;
  width: 100%;
}

.app .app-container .app-body {
  display: flex;
  width: 100%;
  border-top: solid 1px var(--blue);
  border-bottom: solid 1px var(--blue);
  padding: 1rem 0;
  flex-direction: column;
}

.app .app-container .app-body .page-title,
.app .app-container .app-body .page-content {
  display: block;
  width: 100%;
  margin: 1rem 0;
}

.app .app-container .app-footer {
  display: flex;
  width: 100%;
}

.app .app-container .app-menu {
  display: flex;
  width: 100%;
  text-align: right;
  flex-direction: row-reverse;
}

.app .app-container .app-menu .toggle {
  font-weight: 600;
  text-decoration: none;
  color: var(--blue);
}

.app .app-container .app-menu .menu .toggle {
  color: white;
}

.app .app-container .app-menu .menu {
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  background-color: var(--black);
  align-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.app .app-container .app-menu .menu[open] {
  display: flex;
}

.app .app-container .app-menu .menu .content {
  width: 100%;
  display: flex;
  margin: 2rem;
  padding: 2rem;
  color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.app .app-container .app-menu .menu .content ul {
  list-style: none;
  margin: 2rem 0;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.app .app-container .app-menu .menu .content ul li {
  border: dashed 1px var(--gray);
  border-left: none;
  border-right: none;
  padding: 1rem 0;
}

.app .app-container .app-menu .menu .content ul li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
}

.app .app-container .app-menu .menu .content ul li a:hover {
  cursor: pointer;
  font-weight: 600;
  transform: scale(1.15);
}

.app .app-container .app-body #test1 p {
  line-height: 1.5rem;
}

.app .app-container .app-body #test1 ol {
  margin: 1rem 2rem;
}

.app .app-container .app-body #test1 .dynamic-paragraph {
  font-weight: 600;
}

.app .app-container .app-body #test2 {
  display: grid;
  width: 100%;
  grid-template-areas: "rt-1 rt-2 rt-3";
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.app .app-container .app-body #test2 .rt {
  aspect-ratio: 2/1;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  /* border: solid 1px var(--blue); */
  border: none;
  border-radius: 10px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.app .app-container .app-body #test2 .rt-1 {
  grid-area: rt-1;
  background-color: var(--dark);
  color: white;
  /* border-color: var(--dark); */
  box-shadow: 0px 0px 5px var(--dark);
}

.app .app-container .app-body #test2 .rt-2 {
  grid-area: rt-2;
  background-color: var(--blue);
  color: white;
  /* border-color: var(--blue); */
  box-shadow: 0px 0px 5px var(--blue);
}

.app .app-container .app-body #test2 .rt-3 {
  background-color: var(--red);
  color: white;
  /* border-color: var(--red); */
  box-shadow: 0px 0px 5px var(--red);
}

.app .app-container .app-body #test3 .dynamic-facts {
  font-weight: bold;
  padding: 1rem;
  background-color: var(--light);
  margin: 1rem 0;
}

.app .app-container .app-body #test4 .p {
  margin: 2rem 0;
  text-align: center;
}

.app .app-container .app-body #test4 .btn {
  display: flex;
  margin: 2rem auto;
  text-align: center;
}

.app .app-container .app-body #test4 .test-form {
  width: 100%;
  display: grid;
  grid-template-areas: "name age email";
  justify-items: center;
  align-items: start;
  gap: 2rem;
}

.app .app-container .app-body #test4 .test-form label {
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-content: center;
}

.app .app-container .app-body #test4 .test-form label span {
  display: block;
  font-weight: 600;
  line-height: 2rem;
}

.app .app-container .app-body #test4 .test-form label input {
  display: block;
  width: 100%;
  background-color: var(--light);
  min-height: 20px;
  padding: 5px;
  border-radius: 8px;
  padding: 8px;
  border: solid 1px var(--dark);
}

.app .app-container .app-body #test4 .test-form label input[validation="error"] {
  border: solid 3px var(--red);
}

.app .app-container .app-body #test4 .test-form label input[validation="success"] {
  border: solid 3px var(--blue);
}

.app .app-container .app-body #test4 .test-form .name {
  grid-area: name;
}

.app .app-container .app-body #test4 .test-form .age {
  grid-area: age;
}

.app .app-container .app-body #test4 .test-form .email {
  grid-area: email;
}

@media screen and (max-width: 768px) {
  .app .app-container .app-header {
    grid-template-areas:
      "info"
      "id"
      "page";
    grid-template-columns: 1fr;
  }

  .app .app-container .app-header .id,
  .app .app-container .app-header .page {
    display: none;
  }

  .app .app-container .app-header .id[data-show="true"],
  .app .app-container .app-header .page[data-show="true"] {
    display: block;
  }

  .app .app-container .app-header .show-more {
    display: block;
  }

  .app .app-container .app-body #test2 {
    grid-template-areas:
      "rt-1"
      "rt-2"
      "rt-3";
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .app .app-container .app-body #test4 .test-form {
    gap: 1rem;
    grid-template-areas:
      "name"
      "age"
      "email";
  }
}
